<footer>
    <div class="logo-buscador">
      <img src="../../assets/364108700_108503882340132_1019263147651780916_n-Photoroom (1).png" alt="Logo" class="logo">
      <input type="text" placeholder="Buscar..." class="buscador">
    </div>
    <div class="filas-dialogos">
      <div class="fila">
        <p>Acerca de nosotros</p>
      </div>
      <div class="fila">
        <p>Cuenta</p>
       
          
      </div>
      <div class="fila">
        <p>Tienda</p>
        <ul>
            <li><a href="/shop">Comparar</a></li>
        </ul>
      </div>
    </div>
  </footer>
  