.container {
    display: flex;
    flex: 1;
}
.menu-lateral {
    width: 250px;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 70px); /* Ajusta la altura del menú lateral */

}
.menu-lateral h3 {
    color: white;
    margin-top: 0;
}   
.categoria {
    color: #81C408;
    margin-top: 0;
}
.menu-lateral input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}
.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}
.menu-lateral ul li {
    margin: 10px 0;
}
.menu-lateral ul li a {
    color: #81C408;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}
.menu-lateral ul li a:hover {
    background-color: #F0A619;
    color: white;
    border-radius: 4px;
}

.menu-lateral ul li:hover .submenu {
    display: block;
}
.contenido {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
